.footer {
    background: linear-gradient(to right, rgba(90, 152, 242, 1), rgba(103, 195, 243, 1));
    color: #fff;
    padding: 60px 20px 30px 20px;

}

.footer__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 200px;
    gap: 8px;
}

.footer-logo img {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 90px;
    align-items: flex-start;
    margin-right: 100px;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-socials h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);

}

.links {
    color: #FFFFFF;
    opacity: 0.7;
    transition: color 0.3s, opacity 0.3s;
}