.hero {
    background: url(../image/hero-bg.svg) no-repeat right 230px top 130px,
    url(../image/img.svg) no-repeat right 140px bottom 100px;
    height: 700px;
}

.hero__inner {
    width: 360px;
    margin-left: 40px;
}

.hero__title {
    width: 300px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgba(0, 0, 0, 1);
}

.hero__title::after {
    content: "";
    display: block;
    width: 56px;
    height: 2px;
    background: #000;
    margin: 20px 0;
}

.hero__paragraph {
    color: #7D7987;
    line-height: 28px;
    margin-bottom: 20px;
    max-width: 320px;
}

.hero-container {
    padding-top: 120px;
}

.dwn-vector {
    margin: 0 0 -2px 5px;
}

.dwn-button {
    margin-top: 40px;
}





