/* Styles for SortBar */

/*SORT BAR*/
.sort-bar {
  background: #e9d0d0;
  border-radius: 20px;
  padding: 12px 16px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-bar-title {
  font-size: 15px;
  font-weight: 600;
  color: #1c1d1f;
}

.sort-toggle {
  position: relative;
  width: 50px;
  height: 28px;
}

.sort-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sort-slider {
  position: absolute;
  inset: 0;
  background: #e5e7eb;
  border-radius: 999px;
  transition: 0.25s;
}

.sort-slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 999px;
  transition: 0.25s;
}

.sort-toggle input:checked + .sort-slider {
  background: #60a5fa;
}

.sort-toggle input:checked + .sort-slider::before {
  transform: translateX(22px);
}
