@media (max-width: 405px) {

    .intro__cards {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .intro__card {
        width: 90%;
        min-height: auto;
    }

    .card__image {
        width: 100%;
        height: auto;
    }

    .card__title,
    .card__paragraph {
        width: 100%;
    }
}